@font-face {
    font-family: Chalk;
    src: local("Chalk"),
         url(../ttf/Chalk.ttf);
}

/* Landscape - телефоны */
@media (max-width: 480px) { }

/* От ландшафтного экрана телефона до потретного планшета */
@media (max-width: 767px) { }

/* От портретного планшета до ландшафтного экрана и настольных дисплеев */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Большой дисплей */
@media (min-width: 1200px) { }


/* исправление стилей бутстрапа */
.container {
    z-index: 10;
    position: relative;
}

[class*="span"] {
    margin-left: 10px;
}


/**
* окончание исправлений стилей бутстрапа
* собственные стили
**/

.pano {
    background-color: #000000;
    box-shadow: 0 2px 16px black;
    height: 130px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.content {
    background: none repeat scroll 0 0 #3C585B;
    border-color: #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 3px 5px;
    box-shadow: 0 5px 11px black;
    color: white;
    font-family: Chalk,arial;
    height: 100%;
    min-height: 200px;
    text-align: center;
    margin-top: 5px;
}

h1 {
    font-family: Chalk, arial;
    color: white;
}

.pluso {
    float: right;
}

.top_menu ul {
    margin: 0;
}

.top_menu {
    font-family: Chalk, arial;
    background: black;
    color: white;
    height: 35px;
    position: fixed;
    width: 100%;
    padding: 2px 20px;
    text-align: center;
    z-index: 99;
}

#left_menu li, .top_menu li {
    list-style-type: none;
    margin: 0 12px;
    font-size: 20px;
    text-shadow: 1px 2px #666;
}

.top_menu li {
    display: inline;
}

#left_menu li {
    background: url("../img/checked.png") no-repeat scroll left 3px / 55px 79px transparent;
    border-bottom: 1px solid;
    height: 38px;
    overflow: hidden;
    padding: 11px 0 0 38px;

}

#left_menu li:last-child {
    background: url("../img/checked.png") no-repeat scroll left -24px / 39px 47px transparent;
    border: medium none;
}

#left_menu li:hover, .top_menu li:hover {

    text-shadow: 1px 2px #6bb;
}

#frendly {
    float: right;
}

.top_content {
    width: 100%;
    border: 2px solid;
    margin: 33px 0 10px;
    z-index: 2;
    background: white;
    box-shadow: 0 4px 9px black;
    border-radius: 12px;
}

#desc {
    background: url("../img/desc.png") repeat-x scroll 0 0 transparent;
    border-radius: 0 0 7px 7px;
    bottom: -33px;
    box-shadow: 3px 6px 15px black;
    height: 33px;
    position: absolute;
    width: 102%;
}

#mel {
    background: url("../img/mel.png") no-repeat;
    margin: -23px 10% 0;
    height: 30px;
}

.breadcrumbs {
    background-color: #3C585B;
    border-color: #FFFFFF;
    border-radius: 9px;
    font-family: Chalk,arial;
}
.breadcrumbs > *{
    color: #fbed50;
    font-family: Chalk, arial;
}

.breadcrumbs > *:before {
    color: #ffffff;
}

.breadcrumbs > .unavailable {
    color: #ffffff;
}

.top_content h2 {
    color: #000000;
    font-family: Helvetica,Arial,sans-serif;
    padding: 10px;
    text-align: center;
}