{% extends '::base.html.twig' %}

{% block body %}
<div id="body" class="content span8">

    <!-- carusel -->

    <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item"><h1>Hello!</h1></div>
            <div class="item"><h1>Lets study!</h1></div>
            <div class="item"><h1>Student!</h1></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        <script type="text/javascript">
            $('.carousel').carousel({
                interval: 2000
            })
        </script>
    </div>

    <!-- end carusel -->

    <h1>Hello! Lets study!</h1>
</div>
{% endblock %}

