@font-face {
    font-family: Chalk;
    src: local("Chalk"),
         url(../ttf/Chalk.ttf);
}

.pano {
    background-color: #000000;
    box-shadow: 0 2px 16px black;
    height: 100px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

#content {
    background: #3c585b;
    border-top: 3px solid rgb(170, 170, 170);
    border-right: 5px solid rgb(170, 170, 170);
    border-bottom: 3px none rgb(34, 34, 34);
    border-left: 5px solid rgb(170, 170, 170);
    border-radius: 5px 5px 0 0;
    min-height: 200px;
    box-shadow: 0 5px 11px black;
}

h1 {
    font-family: Chalk, arial;
    color: white;
}

.pluso {
    float: right;
}

.top_menu {
    font-family: Chalk, arial;
    background: black;
    color: white;
    height: 35px;
    position: fixed;
    width: 100%;
    padding: 2px 20px;
    text-align: center;
    z-index: 99;
}

.top_menu li {
    list-style-type: none;
    display: inline;
    margin: 0 12px;
    font-size: 20px;
    text-shadow: 1px 2px #666;
}

.top_menu li:hover {

    text-shadow: 1px 2px #6bb;
}

#frendly {
    float: right;
}

.top_content {
    width: 100%;
    height: 125px;
    border: 2px solid;
    margin: 33px 0 10px;
    z-index: 2;
    background: white;
    box-shadow: 0 4px 9px black;
}

#desc {
    background: url("../img/desc.png") repeat-x scroll 0 0 transparent;
    bottom: -33px;
    height: 33px;
    margin: 0 -25px;
    position: absolute;
    width: 102%;
    border-radius: 0 0 17px 17px;
    box-shadow: 3px 6px 15px black;
}

#mel {
    background: url("../img/mel.png") no-repeat;
    margin: -23px 10% 0;
    height: 30px;
}

